<div class="error">
    <div>
        <h3>Error Message: </h3>
        <p>{{this.message}}</p>
    </div>
    <div class="sql-query">
        <h4>SQL Query: </h4>
        <p>{{this.sql}}</p>
    </div>
    <div class="code">
        <h4>SQL Error Code: </h4>
        <p>{{this.code}}</p>
    </div>
    <div class="sql-message">
        <h4>SQL Error Message:</h4>
        <p>{{this.sqlMessage}}</p>
    </div>
    <div>
        <a class="redirect" href="{{this.back.url}}">
            Go back to {{this.back.label}}
        </a>
    </div>
</div>