{{!--
Citation for the following file:
Date: 2/18/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}
<div class="browse" style="display: block">
    <h2>Browse Matches</h2>
    <a class="newbutton" href="/matches/new">New Matches</a>
    {{!-- Create a table --}}
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th colspan="2"></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>matchStatistics</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td><a href="/matches/{{this.matchID}}/edit">Edit</a></td>
                <td><a href="/matches/{{this.matchID}}/delete">Delete</a></td>
                <td>{{this.matchID}}</td>
                <td>{{this.winningTeam}}</td>
                <td>{{this.matchDate}}</td>
                <td>{{this.redScore}}</td>
                <td>{{this.blueScore}}</td>
                <td>{{this.matchDurationInHours}}</td>
                <td><a href="/playerMatches/matchID/{{this.matchID}}/">Stats</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>