<div id="browse" style="display: block">
  <h2>Browse Players</h2>
    {{!-- Create a table --}}
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th><a href="#">New</a></th>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>playerStatistics</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>{{this.playerID}}</td>
                <td>{{this.rankName}}</td>
                <td>{{this.matchCount}}</td>
                <td>{{this.winCount}}</td>
                <td>{{this.playerName}}</td>
                <td>{{this.hoursPlayed}}</td>
                <td><a href="/playerMatches">Stats</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert" style="display: block">
    <form id="addPlayer">
        <legend><h3>Add Player</h3></legend>
          <fieldset class="fields">
            <label> Rank Name </label>
            <select name="rankID">
              <option value="1">Unranked</option>
              <option value="2">Bronze</option>
              <option value="3">Silver</option>
              <option value="4">Gold</option>
            </select><br>
            <label> Player Name </label> <input type="text" name="playerName">
          </fieldset>
          <input class="btn" type="submit" id="addPlayer" value="Add a Player">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new player-->
</div><!-- insert -->

<div id="update" style="display: block">
  <form id="updatePlayer">
      <legend><h3>Update Player</h3></legend>
          <fieldset class="fields">
          <label> Player ID </label> 1<br>
          <label> Rank Name </label>
            <select name="rankID">
              <option value="1">Unranked</option>
              <option value="2">Bronze</option>
              <option value="3">Silver</option>
              <option value="4">Gold</option>
            </select><br>
          <label> Player Name </label> <input type="text" name="playerName" value="V1negarBottle">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSavePlayer" value="Save Update Player">
          <input class="btn" type="button" value="cancel">
  </form> 
</div><!-- update -->

<div id="delete" style="display: block">
  <form id="deletePlayer">
      <legend><h3>Delete Player</h3></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label> Player ID </label> 1<br>
            <label> Player Name </label> V1negerBottle
    </fieldset>
    <input class="btn" type="submit" id="DeletePlayer" value="Delete Player">
          <input class="btn" type="button" value="cancel">
  </form> 
</div><!-- delete -->