<h1>Matches</h1>
[ <a href="/">Home</a> ]<br>
[ <a href="champions">Champions</a> | <a href="ranks">Ranks</a> | <a href="results">Results</a> | <a href="roles">Roles</a> | <a href="teams">Teams</a> ]<br>
[ <a href="matches">Matches</a> | <a href="playerMatches">PlayerMatches</a> | <a href="players">Players</a> ]

<div id="browse" style="display: block">
    {{!-- Create a table --}}
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th><a href="#">New</a></th>
                <th></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>playerStatistics</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td><a href="#">Edit</a></td>
                <td><a href="#">Delete</a></td>
                <td>{{this.playerID}}</td>
                <td>{{this.rankName}}</td>
                <td>{{this.matchCount}}</td>
                <td>{{this.winCount}}</td>
                <td>{{this.playerName}}</td>
                <td>{{this.hoursPlayed}}</td>
                <td><a href="/playerMatches">Stats</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="insert" style="display: block">
    <form id="addMatch">
        <legend><strong>Add Match</strong></legend>
          <fieldset class="fields">
            Winning Team
            <input type="radio" name="winningTeamID" value="1">
            <label>Red Team</label>
            <input type="radio" name="winningTeamID" value="2">
            <label>Blue Team</label><br>
            <label> Match Date </label> <input type="text" name="matchDate"><br>
            <label> Red Score </label> <input type="number" name="redScore"><br>
            <label> Blue Score </label> <input type="number" name="blueScore"><br>
            <label> Match Duration (in hrs) </label> <input type="number" name="matchDurationInHours">
          </fieldset>
          <input class="btn" type="submit" id="addMatch" value="Add a Match">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new match-->
</div><!-- insert -->

<div id="insert" style="display: block">
    <form id="addPlayer">
        <legend><strong>Add Player</strong></legend>
          <fieldset class="fields">
            <label>Rank Name</label>
            <select name="rankID">
              <option value="1">Unranked</option>
              <option value="2">Bronze</option>
              <option value="3">Silver</option>
              <option value="4">Gold</option>
            </select><br>
            <label> Player Name </label> <input type="text" name="playerName">
          </fieldset>
          <input class="btn" type="submit" id="addPlayer" value="Add a Player">
          <input class="btn" type="button" value="cancel">
	</form> <!--add new player-->
</div><!-- insert -->

<div id="update" style="display: block">
  <form id="updatePlayer">
      <legend><strong>Update Player</strong></legend>
          <fieldset class="fields">
          <label>Player ID:</label> 1<br>
          <label>Rank Name</label>
            <select name="rankID">
              <option value="1">Unranked</option>
              <option value="2">Bronze</option>
              <option value="3">Silver</option>
              <option value="4">Gold</option>
            </select><br>
          <label> Player Name </label> <input type="text" name="playerName" value="V1negarBottle">
    </fieldset>
    <input class="btn" type="submit" id="UpdateSavePlayer" value="Save Update Player">
          <input class="btn" type="button" value="cancel">
  </form> 
</div><!-- update -->

<div id="delete" style="display: block">
  <form id="deletePlayer">
      <legend><strong>Delete Player</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <label>Player ID:</label> 1<br>
            <label> Player Name: </label> V1negerBottle
    </fieldset>
    <input class="btn" type="submit" id="DeletePlayer" value="Delete Player">
          <input class="btn" type="button" value="cancel">
  </form> 
</div><!-- delete -->