<!-- 
Citation for the following file:
Date: 2/11/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<div class="browse" style="display: block">
  <h2>Browse Player Matches</h2>
    {{!-- Create a table --}}
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th colspan="2" class="new"><a href="/playerMatches/new">New Entry</a></th>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td><a href='/playerMatches/{{this.playerMatchID}}/edit'>Edit</a></td>
                <td><a href="/playerMatches/{{this.playerMatchID}}/delete">Delete</a></td>
                <td>{{this.playerMatchID}}</td>
                <td>{{this.matchID}}</td>
                <td>{{this.playerName}}</td>
                <td>{{this.role}}</td>
                <td>{{this.result}}</td>
                <td>{{this.champion}}</td>
                <td>{{this.kills}}</td>
                <td>{{this.deaths}}</td>
                <td>{{this.assists}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
