<!-- 
Citation for the following file:
Date: 2/11/2024
Based on:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<div class="browse" style="display: block">
    {{!-- Create a table --}}
    <h2>Browse Roles</h2>
    <table border="1" cellpadding="5">

        {{!-- Header section --}}
        <thead>
            <th colspan="2"><a href="/teams/new">New Entry</a></th>
            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            {{#each data.[0]}}
            <th colspan="2">
                {{@key}}
            </th>
            {{/each}}
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
            {{#each data}}
            <tr>
                <td><a href='/teams/{{this.teamID}}/edit'>Edit</a></td>
                <td><a href="/teams/{{this.teamID}}/delete">Delete</a></td>
                <td colspan="2">{{this.teamID}}</td>
                <td colspan="2">{{this.teamName}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>