<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/code-citation-tips?module_item_id=23809260
-->
<div class="update">
  <form id="updateMatch" method="POST" action="/matches/{{this.match.matchID}}/edit">
      <legend><h3>Update Match</h3></legend>
        <fieldset class="fields">
            <div class="field">
                <label> Match ID </label> <input type="text" name="matchID" disabled value="{{this.match.matchID}}">
            </div>
            
            <div>
                <label> Winning Team </label>
                {{#each team}}
                    {{!-- 
                        Citation for the following function:
                        Date: 2/25/2024
                        Adapted from: 
                        Source URL: https://stackoverflow.com/questions/10736907/handlebars-js-else-if
                    --}}
                    {{#if this.selected}}
                        <label><input type="radio" checked="checked" value="{{this.teamID}}" name="winningTeamID"> {{this.teamName}} Team </label>
                    {{else}}
                        <label><input type="radio" value="{{this.teamID}}" name="winningTeamID"> {{this.teamName}} Team </label>
                    {{/if}}
                {{/each}}
            </div>

            <div class="field">
                <label> Match Date </label> <input type="text" name="matchDate" value="{{this.match.matchDate}}">
            </div>

            <div class="field">
                <label> Red Score </label> <input type="number" name="redScore" value="{{this.match.redScore}}">
            </div>

            <div class="field">
                <label> Blue Score </label> <input type="number" name="blueScore" value="{{this.match.blueScore}}">
            </div>

            <div class="field">
                <label> Match Duration (hrs) </label> <input type="number" name="matchDurationInHours" value="{{this.match.matchDurationInHours}}">
            </div>
        </fieldset>

        <input class="btn" type="submit" id="updateMatch" value="Update Match">
        <a class="btn" href="/matches"><input class="btn" type="button" value="Cancel"></a>
	</form>
</div><!-- update -->