<!-- 
  Citation for the following function:
  Date: 2/11/2024
  Adapted from: 
  Source URL: https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327
-->
<div class="update">
    <form id="addPlayerMatch" method="POST" action="/playerMatches/{{this.playerMatch.playerMatchID}}/edit">
        <legend><h3>Update PlayerMatch</h3></legend>
          <fieldset class="fields">
            <div class="field">
              <label> Match ID </label> <input type="text" name="matchID" disabled value="{{this.playerMatch.matchID}}">
            </div>

            <div class="field">
              <label> Player Name </label> <input type="text" name="playerName" value="{{this.playerMatch.playerName}}">
            </div>

            <div class="field">
              <label>Role</label>
              <select name="roleID">
                {{#each roles}}
                    {{!-- 
                      Citation for the if/else function:
                      Date: 2/25/2024
                      Adapted from: 
                      Source URL: https://stackoverflow.com/questions/10736907/handlebars-js-else-if
                    --}}
                    {{#if this.selected}}
                        <option selected value="{{this.roleID}}">{{this.roleName}}</option>
                    {{else}}
                        <option value="{{this.roleID}}">{{this.roleName}}</option>
                    {{/if}}
                {{/each}}
              </select>
            </div>

            <div class="field">
              <label>Result</label>
              <select name="resultID">
                {{#each results}}
                    {{#if this.selected}}
                        <option selected value="{{this.resultID}}">{{this.resultName}}</option>
                    {{else}}
                        <option value="{{this.resultID}}">{{this.resultName}}</option>
                    {{/if}}
                {{/each}}
              </select>
            </div>

            <div class="field">
              <label>Champion</label> 
              <select name="championID">
                {{#each champions}}
                    {{#if this.selected}}
                        <option selected value="{{this.championID}}">{{this.championName}}</option>
                    {{else}}
                        <option value="{{this.championID}}">{{this.championName}}</option>
                    {{/if}}
                {{/each}}
              </select>
            </div>

            <div class="field">
              <label>Kills</label> <input type="number" name="killCount" value="{{this.playerMatch.killCount}}">
            </div>

            <div class="field">
              <label>Deaths</label> <input type="number" name="deathCount" value="{{this.playerMatch.deathCount}}">
            </div>
            
            <div class="field">
              <label>Assists</label> <input type="number" name="assistCount" value="{{this.playerMatch.assistCount}}">
            </div>
          </fieldset>
          <input class="btn" type="submit" id="updatePlayerMatch" value="Update Player Match">
          <a class="btn" href="/playerMatches"><input class="btn" type="button" value="Cancel"></a>
	</form> <!--add new playerMatch-->
</div><!-- insert -->